/* general */
.menu_toggle {
  position: absolute;
  top: 15px;
  left: 7px;
  width: 26px;
  height: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.menu_toggle input {
  width: 26px;
  height: 14px;
  position: absolute;
  z-index: 2;
  opacity: 0;
  -webkit-touch-callout: none;
}

.hamburger {
  position: absolute;
  width: 26px;
  height: 2px;
  background: #000;
  border-radius: 25%;
  transition: 0.5s;
}

.stick_2 { top: 6px; }
.stick_3  { top: 12px;}

.stick_2,
.stick_3 {
  content: '';
  transition: 0.5s;

  position: absolute;
  width: 26px;
  height: 2px;
  background: #000;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  */
}

/* animation */